.about-section__info {
  padding-left: 8px;
  padding-top: 8px;
}

.about-section__desc {
  margin-right: 16px;
  display: block;
  min-width: 148px;
  color: #757575;
}

.about-aside {
  margin-top: 24px;
  margin-left: 8px;
}

.about-aside__heading h3 {
  padding-left: 8px;
}

.editorx_body {
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 10px;
}

.response {
  border: 1px solid #dddddd !important;
  border-radius: 4px;
  cursor: pointer;
}

.response__company {
  color: rgba(0, 0, 0, 0.54);
}

.NO_ANSWER {
  color: red;
}

/* .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.form-grid {
  display: flex;
  flex-wrap: wrap;
}

.single-line-combobox.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: unset !important;
}

.form-grid .v-text-field__details {
  display: none;
}

.resume__field {
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 16px;
  display: block;
}

/* @media (max-width: 959px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
} */

@media (min-width: 960px) {
  .aside {
    min-width: 305px;
    display: flex;
    flex-direction: column;
  }
}
