.about-section {
  margin-top: 24px;
  margin-left: 8px;
  max-width: 1200px;
}

.about-section__info {
  padding-left: 8px;
  padding-top: 8px;
}

.about-section__field {
  width: 100%;
  max-width: 200px;
}

.about-section__desc {
  margin-right: 16px;
  display: block;
  min-width: 148px;
  color: #757575;
}

.about-aside {
  margin-top: 24px;
  margin-left: 8px;
}

.about-aside__heading h3 {
  padding-left: 8px;
}
