@import './fonts.css';

/*LAYOUT*/

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute !important;
}

.d-row {
  display: flex;
  flex-wrap: wrap;
}
.d-col {
  display: flex;
  flex-direction: column;
}
.col {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
  display: block;
}

.pd-unset {
  padding: unset !important;
}

.text-center {
  text-align: center;
}

/*HOME*/

* {
  font-family: 'Noto Sans', sans-serif;
}

.logo-font {
  font-family: 'Gilroy', sans-serif !important;
  line-height: 3.75rem;
  font-size: 3.75rem !important;
  letter-spacing: -0.0083333333em !important;
}

a {
  text-decoration: none;
  color: black !important;
}

.search {
  max-width: 650px !important;
  width: 100% !important;
}
.search .v-menu__content {
  box-shadow: unset !important;
}
/* 
.search .v-application .primary--text {
  color: black !important;
  caret-color: black !important;
} */

.main {
  justify-content: space-evenly !important;
}
.main__slides {
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.main .main__slide {
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.home {
  height: 100%;
}

/*VUETIFY OVERRIDE*/

.v-btn {
  letter-spacing: unset !important;
}
.search.theme--light.v-input {
  background-color: white;
}

.search.v-text-field--enclosed .v-input__append-outer {
  margin-top: unset;
  margin-left: 16px;
}
/* 
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border: solid #dddddd !important;
  border-width: thin 0 0 0;
} */

.v-slide-group__prev--disabled {
  display: none !important;
}

.search.v-autocomplete__content.v-menu__content {
  box-shadow: unset !important;
}
.v-autocomplete__content.v-menu__content,
.v-menu__content {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12) !important;
}

.v-chip--disabled {
  opacity: 1;
}

.v-autocomplete:not(.v-input--is-focused).v-select--chips input {
  max-height: 40px !important;
}

.theme--light.v-select .v-select__selection--disabled {
  color: black;
}

.theme--light.v-expansion-panels .v-expansion-panel {
  border: 1px solid #dddddd !important;
  margin-top: 8px;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.indicator--success {
  background-color: #4caf50;
}
.indicator--error {
  background-color: #b00020;
}

.picker input {
  border: 1px solid rgba(10, 10, 10, 0.5);
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}
