.team-card {
  border-radius: 4px;
  width: 305px !important;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 16px 24px;
  transform: translateY(0px);
  border: 1px solid #dddddd !important;
}

.team-card__logo {
  border-radius: 360px;
  height: 56px;
  width: 56px;
  margin-bottom: 16px;
  background-size: cover;
  background-size: cover;
  background-position: center center;
}

.team-card__title {
  font-family: Gilroy, sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 16px;
  letter-spacing: 0.25px;
}

.v-card--flat {
  box-shadow: unset !important;
}

.team-card__company {
  color: #757575;
  margin-bottom: 0 !important;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 24px;
}

.team-card__info {
  margin-left: unset !important;
}

.team-card__caption {
  margin-left: unset !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
  letter-spacing: 0.25px;
}

.team-card__action {
  display: flex;
  align-content: center;
  width: 20px;
  justify-content: center;
}

.squared {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

.squared__col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.squared__col .team-card__logo {
  width: 60px;
  height: 60px;
}

@media (max-width: 960px) {
  .team-card {
    width: 100% !important;
  }

  .team-card__title {
    margin-bottom: 4px;
  }

  .team-card__holder {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .team-card {
    min-width: 230px;
    width: 100% !important;
  }
}
